---
import { t, changeLanguage } from "i18next";
import CreateProcessLayout from "@layouts/CreateProcessLayout.astro";
import weightingOptions from "@helpers/weightingOptions";
import Modal from "@components/ui/Modal.astro";
import ContentDoc from "@components/ui/ContentDoc.astro";
import { parseCookie } from "@helpers/cookieHelpers";

changeLanguage("de");

const cookieHeader = Astro.request.headers.get("cookie");
const parsedCookies = cookieHeader ? parseCookie(cookieHeader) : {};
const { weighting = "", title = "", nojsdescription = "", quillopsdescription = "" } = parsedCookies;
---

<CreateProcessLayout step={1}>
  <form action='/api/process-store' method="POST">
    <input type="hidden" name="step" value="1" />
    <div id="scrollTopicQuestion" />
    <p>{ t('process.topic') }</p>
    <input 
      id="topicQuestion" 
      name="topicQuestion" 
      class="input input-bordered w-full" 
      type="text" 
      value={title} 
      required 
      title={t('alert.error.topicQuestion')}
    />
    <br/>
    <p>{ t('process.description') }</p>
    <div id="description">Loading QuillEditor...</div>
  
    <noscript>
      <textarea id="nojsdescription" name="nojsdescription" class="textarea textarea-bordered w-full">{nojsdescription}</textarea>
    </noscript>
    <input id="quillops" name="quillopsdescription" class="hidden" value={quillopsdescription} />

    <details class="text-center">
      <summary class="cursor-pointer text-indianared mt-6 ">{ t('process.advancedOptions') }</summary>
        <div class="flex justify-center items-center">
          <span>{ t('process.weighting') }</span>
          <span class="flex justify-center items-center">
            <select id="select" name="weighting" class="select mx-2 select-bordered mt-2" value={weighting}>
              {weightingOptions.map(weight => (
                <option value={weight.value}>
                  { Number(weight.value) > 0 ? <span>{ weight.label }</span> : <span>&infin;</span> }
                </option>
              ))}
            </select>
            
            <Modal id="weightingInfo">
              <h3>{ t('process.weighting') }</h3>
              <ContentDoc file_name="NegativeScoreWeighting"/>
            </Modal>
          </span>
        </div>
      </div>
    </details>
    <br/>
    <div class="flex justify-center">
      <input type="submit" class="btn btn-primary" value="Next">
    </div>
  </form>
</CreateProcessLayout>


<script>
  import { createQuill, updateQuill } from '@composable/quillUtils';

  const quillContainer = document.getElementById('description') as HTMLElement;
  quillContainer.innerText = '';
  const quillOpsInput = document.getElementById('quillops') as HTMLInputElement;
  const quillEditor = createQuill('#description');

  if (quillOpsInput.value) {
    try {
      const quillOps = JSON.parse(quillOpsInput.value);
      updateQuill(quillEditor, quillOps);
    } catch (error) {
      console.error('Error parsing quillopsdescription:', error);
    }
  }

  quillEditor.on('text-change', () => {
    /* @ts-ignore */
    quillOpsInput.value = JSON.stringify(quillEditor.editor.delta)
  });

</script>src/utils/weightingOptionssrc/utils/cookieHelpers