---
import { Translator } from '@utils/i18n.js';
const translator = new Translator(Astro.currentLocale || 'en'); import weightingOptions from '@utils/weightingOptions';
import Modal from '@components/ui/Modal.astro';
import QRCode from '@components/ui/QRCode.astro';
import ContentDoc from '@components/ui/ContentDoc.astro';
import ProcessTimeLabel from '@components/datetime/ProcessTimeLabel.astro';
import Icon from 'astro-icon';
import Delta from 'quill';
import getQuillHTML from '@utils/getQuillHTML';

const { url } = Astro;
interface Props {
    uuid: string;
}

const { uuid } = Astro.props;
const processDetails = await fetch(`/api/process/${uuid}`).then(res => res.json());
const {
    title,
    description,
    weighting,
    shareable = true,
    proposalDates,
    votingDates
} = processDetails;

const weightLabel = weighting ? weightingOptions[Number(weighting) - 1].label : null;
const descriptionHTML = getQuillHTML(description);
---


<div  class="flex flex-col pb-3">
    <h1>{ title }</h1>
    <p class="topic-description">{descriptionHTML}</p>
    <div class="flex justify-end items-center">
        { translator.t('process.weighting') }&nbsp;
        {weightLabel}&nbsp;
        <Modal id="weightingInfo">
            <h3>{ translator.t('process.weighting') }</h3>
            <ContentDoc file_name="NegativeScoreWeighting"/>
        </Modal>
    </div>
    <div>
        { proposalDates && proposalDates[0] > 0 && <ProcessTimeLabel phase="proposal" dates={proposalDates}/> }
        <br/>
        { votingDates && <ProcessTimeLabel phase="voting" dates={votingDates}/> }
        <br/>
    </div>
    { shareable && 
    <div class="w-full pr-2">
        <p>{ translator.t('process.shareableUrl') }</p>
        <div class="flex items-center">
            <input id="shareableUrl" type="text" class="input w-full" readonly value={ url.href }/>
            &nbsp; &nbsp;
            <Modal id="shareableQrCode" icon="qr-code">
                <h3>{ translator.t('process.qrcode') }</h3>
                <div class="flex justify-center">
                    <QRCode text={url.href} />
                </div>
                <br/>
            </Modal>
        </div>
    </div>
    }                          
</div>
