---
import { Translator } from '@utils/i18n.js';

import weightingOptions from '@utils/weightingOptions';
import Modal from '@components/ui/Modal.astro';
import QRCode from '@components/ui/QRCode.astro';
import ContentDoc from '@components/ui/ContentDoc.astro';
import ProcessTimeLabel from '@components/datetime/ProcessTimeLabel.astro';
import getQuillHTML from '@utils/getQuillHTML';
import IProcess from '@interfaces/IProcess';

const translator = new Translator(Astro.currentLocale || 'en');
await translator.init();

const { url } = Astro;
interface Props {
    process: IProcess;
}

const { process } = Astro.props;
const weightLabel = process.weighting ? weightingOptions[Number(process.weighting) - 1].label : null;
const descriptionHTML = getQuillHTML(process.description);
const timezone = process.timezone ? process.timezone : 'UTC';
const proposalsLength = process.proposals ? Object.values(process.proposals).length : 0;

---


<div  class="flex flex-col pb-3">
    <h1>{ process.title }</h1>
    <div class="topic-description" set:html={descriptionHTML}></div>
    <div class="flex justify-end items-center">
        { translator.t('process.weighting') }&nbsp;
        {weightLabel}&nbsp;
        <Modal id="weightingInfo">
            <h3>{ translator.t('process.weighting') }</h3>
            <ContentDoc file_name="NegativeScoreWeighting"/>
        </Modal>
    </div>
    <div>
        { process.proposalDates && process.proposalDates[0] > 0 && <ProcessTimeLabel timezone={timezone} phase="proposal" dates={process.proposalDates}/> }
        <br/>
        { process.votingDates && <ProcessTimeLabel timezone={timezone} phase="voting" dates={process.votingDates} proposals_length={proposalsLength}/> }
        <br/>
    </div>
    <!-- { process.shareable && -->
    <div class="w-full pr-2">
        <p>{ translator.t('process.shareableUrl') }</p>
        <div class="flex items-center">
            <input id="shareableUrl" type="text" class="input w-full" readonly value={ url.href }/>
            &nbsp; &nbsp;
            <Modal id="shareableQrCode" icon="qr-code">
                <h3>{ translator.t('process.qrcode') }</h3>
                <div class="flex justify-center">
                    <QRCode text={url.href} />
                </div>
                <br/>
            </Modal>
        </div>
    </div>
    <!-- }-->                          
</div>
