---
import { Translator } from '~/utils/i18n.js';
import weightingOptions from '~/utils/weightingOptions';
import Modal from '~/components/ui/Modal.astro';
import QRCode from '~/components/ui/QRCode.astro';
import ContentDoc from '~/components/ui/ContentDoc.astro';
import ProcessTimeLabel from '~/components/datetime/ProcessTimeLabel.astro';
import getQuillHTML from '~/utils/getQuillHTML';
import IProcess from '~/interfaces/IProcess';
const translator = new Translator(Astro.currentLocale || 'en');
const { url } = Astro;
interface Props {
 process: IProcess;
}
const { process } = Astro.props;
const weightLabel = process.weighting ? weightingOptions[Number(process.weighting) - 1].label : null;
const descriptionHTML = getQuillHTML(process.description);
const timezone = process.timezone ? process.timezone : 'UTC';
const proposalsLength = process.proposals ? Object.values(process.proposals).length : 0;
---

<div class="process-container">
  <h1 class="process-title">{ process.title }</h1>
  <div class="process-description" set:html={descriptionHTML}></div>
  <div class="weighting-info">
    <span>{ translator.t('process.weighting') }&nbsp;</span>
    <span>{weightLabel}&nbsp;</span>
    <Modal id="weightingInfo">
      <h3>{ translator.t('process.weighting') }</h3>
      <ContentDoc file_name="NegativeScoreWeighting"/>
    </Modal>
  </div>
  <div class="process-dates">
    { process.proposalDates && process.proposalDates[0] > 0 && <ProcessTimeLabel timezone={timezone} phase="proposal" dates={process.proposalDates}/> }
    <br/>
    { process.votingDates && <ProcessTimeLabel timezone={timezone} phase="voting" dates={process.votingDates} proposals_length={proposalsLength}/> }
    <br/>
  </div>
  <div class="shareable-url">
    <p>{ translator.t('process.shareableUrl') }</p>
    <div class="url-container">
      <input id="shareableUrl" type="text" class="url-input" readonly value={ url.href }/>
      <Modal id="shareableQrCode" icon="qr-code">
        <h3>{ translator.t('process.qrcode') }</h3>
        <div class="qr-code-container">
          <QRCode text={url.href} />
        </div>
      </Modal>
    </div>
  </div>
</div>

<style>
  .process-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
  }

  .process-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
  }

  .process-description {
    margin-bottom: 1rem;
  }

  .weighting-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
  }

  .process-dates {
    margin-bottom: 1rem;
  }

  .shareable-url {
    width: 100%;
    padding-right: 1rem;
  }

  .url-container {
    display: flex;
    align-items: center;
  }

  .url-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.25rem;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
  }

  .qr-code-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
</style>