---
import { t } from 'astro-i18n';
import dropdownOptions from '@utils/proposalTemplates';
import IProposal from '@interfaces/IProposal';

interface Props {
    processId?: string;
    nojs?: boolean;
    proposals: Array<IProposal>
}

const { processId, nojs, proposals } = Astro.props;
console.log(proposals)
---
<div>
  <div id="proposals-container">
    {proposals.map((proposal: IProposal) => (
      <div class="proposal card outline outline-1 shadow-xl py-4 px-4 my-2 w-full">
        <div class="flex items-center flex-col">
          <div class="flex flex-col w-full">
            {proposal.editing ? (
              <div>
                {nojs ? (
                  <form action="/api/update-proposal" method="POST">
                    <input type="hidden" name="proposalId" value={proposal.id} />
                    <b>{t('process.proposal')}</b>
                    <input type="text" name="title" class="input input-bordered input-sm my-2 w-full" value={proposal.title} required />
                    <label>{t('process.description')}</label>

                    <textarea class="textarea textarea-bordered textarea-sm my-2 w-full" name="description">{proposal.description}</textarea>
                    <button type="submit" class="btn">{t('buttons.update')}</button>
                  </form>
                  <form action="/api/delete-proposal" method="POST">
                    <input type="hidden" name="proposalId" value={proposal.id} />
                    <button type="submit" class="btn text-error">{t('buttons.delete')}</button>
                  </form>
                ) : (
                  <div>
                    <input type="text" value={proposal.title} />
                    <textarea>{proposal.description}</textarea>
                    <button class="btn save-btn" data-id={proposal.id}>{t('buttons.save')}</button>
                    <button class="btn delete-btn" data-id={proposal.id}>{t('buttons.delete')}</button>

                  </div>
                )}
              </div>
            ) : (
              <div>
                <b>{proposal.title || 'Untitled Proposal'}</b>
                <p>{proposal.description}</p>
              </div>
            )}
          </div>
        </div>
      </div>
    ))}
  </div>

  
  {nojs ? (
    <div class="flex items-center flex-wrap justify-center">
      <br/>
      <form action="/api/process-store" method="POST">
        <input type="hidden" name="step" value="2" />
        <input type="hidden" name="nojsSubmission" value="true" />
        <input type="hidden" name="title" value="" />
        <input type="hidden" name="processId" value={processId} />
        <button class="btn p-2">{t('process.addProposal')}</button>
      </form>

      <div class="dropdown">
        <label tabindex="0" class="btn m-1">{ () => t('addProposalTemplate') }</label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow rounded-box">
          {dropdownOptions.map((option: any, index) => (
            <form action="/api/process-store" method="POST"  class="flex justify-between items-center flex-wrap">
              <input type="hidden" name="step" value="2" />
              <input type="hidden" name="nojsSubmission" value="true" />

              <input type="hidden" name="title" value="" />
              <input type="hidden" name="processId" value={processId} />
              <input type="hidden" name="tmpl" value={index}/>

              <button type="submit" class="btn w-64 mt-2 h-24 items-center flex flex-col justify-center">
                <b class="title">{option.title}</b>
                <p class="description">{option.description.ops[0].insert}</p>
              </button>
            </form>
          ))}
        </ul>
      </div>
    </div>
  ) : (
    <div class="flex items-center flex-wrap justify-center w-full" data-process={processId}>
      <button id="add-button" class="btn p-2">{ () => t('process.addProposal') }</button>
      <div class="dropdown">
        <label tabindex="0" class="btn m-1">{ () => t('addProposalTemplate') }</label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow rounded-box">
          {dropdownOptions.map((option, index) => (
            <li>
              <a class="flex flex-col">
                <b class="title">{option.title}</b>
                <p class="description">{option.description.ops[0].insert}</p>
              </a>
            </li>
          ))}
        </ul>
      </div>
    </div>
  )}
</div>



<script>
  const addButton: HTMLElement | null = document.getElementById('add-button');
  const proposalsContainer: HTMLElement | null = document.getElementById('proposals-container');
  let proposalCount: number = 0;

  if (addButton && proposalsContainer) {
    addButton.addEventListener('click', () => {
      const proposalElement: HTMLDivElement = document.createElement('div');
      const uniqueId: string = `proposal-${proposalCount}`;
      proposalElement.className = 'proposal card outline outline-1 shadow-xl py-4 px-4 my-2 w-full';
      proposalElement.innerHTML = `
        <div class="flex items-center flex-col" id="${uniqueId}">
          <div class="flex flex-col w-full">
            <b>Proposal</b>
            <input id="title-${uniqueId}" type="text" class="input input-bordered input-sm my-2 w-full" />
            <label>Description</label>
            <div id="description-${uniqueId}"></div>
          </div>
        </div>
        <div class="flex justify-center w-full pt-2">
          <button class="delete btn btn-ghost text-error btn-xs">Delete</button>
        </div>
      `;

      const titleInput: HTMLElement | null = proposalElement.querySelector(`#title-${uniqueId}`);
      const deleteButton: HTMLElement | null = proposalElement.querySelector(`#${uniqueId} .delete`);

      if (titleInput) {
        titleInput.addEventListener('input', (event: Event) => {
          // Logic to handle title input
          const inputElement = event.target as HTMLInputElement;
          console.log(`Title Updated: ${inputElement.value}`);
        });
      }

      if (deleteButton) {
        deleteButton.addEventListener('click', () => {
          proposalsContainer.removeChild(proposalElement);
        });
      }

      proposalsContainer.appendChild(proposalElement);
      proposalCount++;
    });
  }

</script>
