---
import { Translator } from '~/utils/i18n.js';
import weightingOptions from '~/utils/weightingOptions';
import Modal from '~/components/ui/Modal.astro';
import ContentDoc from '~/components/ui/ContentDoc.astro';

const translator = new Translator(Astro.currentLocale || 'en');
const timezoneOffset = new Date().getTimezoneOffset();

type Props = {
  title: string;
  descriptionId?: string;
  weighting?: string;
}

const { title, descriptionId, weighting = '1' } = Astro.props;
---

<form id="step-1" class="process-form" action='/api/process-store' method="POST">
  <input type="hidden" name="step" value="1" />
  <input type="hidden" name="timezoneOffset" id="timezoneOffset" value={timezoneOffset} />
  <div id="scrollTopicQuestion"></div>
  <div class="form-group">
    <label for="topicQuestion">{ translator.t('process.topic') }</label>
    <input
      id="topicQuestion"
      name="topicQuestion"
      class="form-input"
      type="text"
      value={title}
      required
      title={translator.t('alert.error.topicQuestion')}
    />
  </div>
  <div class="form-group">
    <label for="description">{ translator.t('process.description') }</label>
    <input id="descriptionId" name="descriptionId" type="hidden" />
    <div id="description" class="quill-editor" data-description-id={descriptionId}>{translator.t('loadQuill')}</div>
    <input id="quillops" name="description" type="hidden" value='' />
  </div>
  <div class="form-group weighting-group">
    <label for="select">{ translator.t('process.weighting') }</label>
    <div class="weighting-select">
      <select id="select" name="weighting" class="form-select" value={weighting}>
        {weightingOptions.map(weight => (
          <option value={weight.value} selected={weight.value === weighting}>
            { Number(weight.value) > 0 ? weight.label : '∞' }
          </option>
        ))}
      </select>
      <Modal id="weightingInfo">
        <h3>{ translator.t('process.weighting') }</h3>
        <ContentDoc file_name="NegativeScoreWeighting"/>
      </Modal>
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" name="phase" value="full" class="button primary">
      { translator.t('process.phases.full') }
    </button>
    <button type="submit" name="phase" value="voting" class="button primary">
      { translator.t('process.phases.voting') }
    </button>
  </div>
</form>

<script src="./step1.ts"></script>