---
interface Props {
  id: string;
  phase: string;
  index: number;
  date: Date;
  min: Date;
}

const { id, phase, index, date, min } = Astro.props;

const toDateTimeLocal = (date: Date): string => {
  const isoString = date.toISOString();
  return isoString.slice(0, 16);
};
---

<div id={id} class="flex flex-col justify-center items-center">
  <noscript>
    <form action="/api/date-change" method="POST">
      <input type="hidden" name="phase" value={phase} />
      <input type="hidden" name="index" value={index.toString()} />
      <input type="datetime-local" min={toDateTimeLocal(min)} name={id} value={toDateTimeLocal(date)}/>
      <button type="submit">Set Date</button>
    </form>
  </noscript>
  <input class="js-input" type="datetime-local" min={toDateTimeLocal(min)} name={id} value={toDateTimeLocal(date)} style="display: none;"/>
</div>
