---
import { t } from 'astro-i18n';
import DatetimePickerNoJS from './DatetimePickerNoJS.astro';

interface Props {
  phase: string;
  startMinDate: Date;
  startDate: Date;
  endDate: Date;
}

const { phase, startDate, endDate, startMinDate } = Astro.props;
const title = t(`phases.${phase}.title`);
---

<div class="time-selector">
  <h3 class="title text-center">{ title }</h3>
  <br/>
  <DatetimePickerNoJS index={0} date={startDate} min={startMinDate} id={`start-date-picker-${phase}`} />
  <br/>
  <DatetimePickerNoJS index={1} date={endDate} min={startDate} id={`end-date-picker-${phase}`} />
</div>
