---
import BaseLayout from '@/layouts/BaseLayout.astro'
import ProcessInfo from '@/process/ProcessInfo.astro'
import type IProcess from 'interfaces/IProcess'

interface Props {
    process: IProcess,
}

const {process} = Astro.props;

---

<BaseLayout title={process ? process.title : null} simpleHeader={true}>
    <div style="display: none; opacity: 0;">
        <div id="temp"  />
    </div>
    { process &&
    <ProcessInfo
        title={process.title}
        description={JSON.stringify(process.description)}
        weighting={process.weighting}
        proposalDates={process.proposalDates}
        votingDates={process.votingDates}
        />
    }
    <slot/>
</BaseLayout>