---
import i18next, { t } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";

import Header from "organisms/Header.astro";
import Footer from "organisms/Footer.astro";
import Modal from "molecules/Modal.astro";
import Icon from "astro-icon"

import "../../global.css"
const {title, description} = Astro.props;

---

<html lang={i18next.language} data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ukuvota { title ? `- ${title}` : ''}</title>
    <meta name="description" content={description} />
    <HeadHrefLangs />
    <script defer data-api="/api/event" data-domain="ukuvota.world" src="/js/script.js"></script>
  </head>
  <body>
    <Header/>
    <br/>
    <main class="card bg-base-200 shadow-xl">
        <slot />
    </main>
    <br/>
    <input type="checkbox" id="legacyRedirect" class="modal-toggle" />
    <label for="legacyRedirect" class="modal">
      <label class="modal-box relative">
        <h3 class="text-lg font-bold">{ t('redirect.legacy.title') }</h3>
        <p>{ t('redirect.legacy.content') }</p>
        <div class="text-right">
          <button  class='btn btn-sm'>
            <label for="legacyRedirect">
              { t('cancel') }
            </label>
          </button> 
          <button class='btn btn-sm btn-primary' onclick="window.location.href = `https://legacy.ukuvota.world/${hash}`">
            { t('confirm') }
          </button>
        </div>
      </label>
    </label>
    

    <Footer/>
  </body>
</html>

<script is:inline>


  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme"))
      return localStorage.getItem("theme");
    if (window.matchMedia("(prefers-color-scheme: dark)").matches)
      return "dark";
    return "light";
  })();
  document.documentElement.dataset.theme=theme
  document.documentElement.classList = theme

  window.localStorage.setItem("theme", theme);

  const hash = window.location.hash
  
  if (hash.includes('#/app/')) {
    const redirect = document.getElementById("legacyRedirect")
    redirect.checked = true
  }

</script>
