---
import { t } from 'astro-i18n';
import CreateProcessLayout from '@layouts/CreateProcessLayout.astro';
import { parseProcessCookie } from '@utils/parseProcessCookie'
import type { ProcessCookie } from '@utils/parseProcessCookie'
import Step1 from '@components/setupProcess/Step1.astro';
import Step2 from '@components/setupProcess/Step2.astro';
import Step3 from '@components/setupProcess/Step3.astro';

import { Icon } from 'astro-icon'

const rawCookieValue = Astro.cookies.get('process')?.value;
const processCookie: ProcessCookie = parseProcessCookie(rawCookieValue);
const {
  create = 'false',
  phase = '',
  weighting = '',
  title = '',
  nojsdescription = '',
  quillopsdescription = '',
  proposalStartDate = '',
  proposalEndDate = '',
  votingStartDate = '',
  votingEndDate = '',
  step = '1'
} = processCookie as ProcessCookie;
const currentStep = Number(step);

let modifiedCreate = JSON.parse(create);

if (currentStep === 1 && !phase && !weighting && !title && !nojsdescription && !quillopsdescription) {
    modifiedCreate = false;
}

---

<CreateProcessLayout step={currentStep}>
  {modifiedCreate ? (
    <input type="checkbox" id="existingProcessModal" class="modal-toggle" checked/>
    <label for="existingProcessModal" class="modal">
      <label class="modal-box">
        <label for="existingProcessModal" class="btn btn-sm btn-circle absolute right-2 top-2">
          <Icon width="22" name="close"/>
        </label>
        <h3>{() => t('continueEditing')}</h3>
        <p>{() => t('existingProcessPrompt')}</p>

        <div class="process-details">
          { title && <p><strong>{() => t('process.topic')}:</strong> {title}</p> }
          { nojsdescription && <p><strong>{() => t('process.description')}:</strong> {nojsdescription}</p> }
          { weighting && <p><strong>{() => t('process.weighting')}:</strong> {weighting}</p> }
        </div>

        <div class="flex justify-center">
          <form action="/api/start-new-process" method="post">
            <button type="submit" class="btn m-2">{t('process.startNew')}</button>
          </form>
          <label for="existingProcessModal" class="btn m-2">{() => t('buttons.continue')}</label>
        </div>
      </label>
    </label>
  ) : null}

  { currentStep === 1 ? (
    <Step1 title={title} quillopsdescription={quillopsdescription} weighting={weighting} nojsdescription={nojsdescription}/>
  ) : currentStep === 2 ? (
    <Step2 phase={phase} proposalStartDate={proposalStartDate} proposalEndDate={proposalEndDate} votingStartDate={votingStartDate} votingEndDate={votingEndDate} />
  ) : currentStep === 3 ? (
    <Step3/>
  ) : null }

</CreateProcessLayout>
