---
import type IProcess from "@interfaces/IProcess";
import ProcessLayout from "@layouts/ProcessLayout.astro";
import { Icon } from "astro-icon";
import i18next, { t, changeLanguage } from "i18next";
import getProcessUrl from "@helpers/getProcessUrl";
import AlertList from "@components/ui/AlertList.astro";
import Alert from "@components/ui/Alert.astro";
import { fetchProcess } from "@services/api";

changeLanguage("de");

const { url } = Astro;
const processId = Astro.params.id;
const process: IProcess = await fetchProcess(processId);
const pathname = `${i18next.language === "en" ? "" : `/${i18next.language}`}${getProcessUrl(process, processId)}`;
if (pathname !== url.pathname)
    return Astro.redirect(pathname);
const emojis = ["rage", "angry", "sad", "neutral", "smiling", "happy", "loving"];
if (process && !("voters" in process)) {
    process.voters = [];
}
---
<style>
    .hide {
        display: none;
    }
</style>
<ProcessLayout process={process}>
    <results-card >
        <div class="hide">
            { emojis.map(emoji => (
                <Icon class="emoji" name={emoji} width="48" />
            ))}
        </div>
        <div class="tabs flex flex-nowrap w-full justify-between">
            <a class="tab tab-bordered tab-active w-full h-12"><Icon width="16" name="face-cool"/></a> 
            <a class="tab tab-bordered w-full h-12"><Icon width="16" name="list"/></a> 
        </div>

        <div class="tab-content hide">

            <span class="flex justify-between items-center">
                <h2>{ t('process.results') }</h2>
                <button class='repeat-button btn btn-sm'>{ t('repeatProcess') }</button>
            </span>
            
            <h3>
                <span class="voter-label">{ t('process.voters') }</span>
                <span class="num-voters">({ process.voters.length })</span>:
            </h3>
            <div class="flex justify-around flex-wrap">
                { process.voters.map((voter: any) => (
                    <div id={voter.id} class="flex items-center p-2 voter">
                        <input type="checkbox" checked class="checkbox checkbox-xs" />
                        <span class="p-1 cursor-pointer select-none">
                            { voter.name }
                        </span>
                    </div>
                ))}
            </div>
            <br/>
            <div class="overflow-x-auto">
                <table class="table w-full">
                    <!-- head -->
                    <thead>
                        <tr class="table-row-one">
                            <th></th>
                            <th class="whitespace-normal break-words">{ t('process.proposal') }</th>
                            <th class="whitespace-normal break-words">{ t('process.averageScore') }</th>
                            <th class="whitespace-normal break-words">{ t('process.totalScore') }</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <br/>
            <div class="card">
                <h3>{ t('process.exportData') }</h3>
                <div class="flex justify-around exports">
                    <button class="export-markdown btn btn-ghost"><Icon width="28" name="document-download"/></button>
                    <button class="export-image btn btn-ghost"><Icon width="28" name="camera" /></button>
                </div>
            </div> 
        </div>
        <div class="tab-content hide">
            <div>
                <br/>
                <br/>
                <div class="overflow-x-auto">
                    <table class="table w-full">
                        <!-- head -->
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <br/>
            </div>
        </div>
        <AlertList>
            <Alert icon="checkmark-outline" success>
                { t('alert.success.repeatProcess') }
            </Alert>
            <Alert icon="warning" error>
                { t('alert.error.missingProposals') }
            </Alert>
        </AlertList>
    </results-card>
</ProcessLayout>



<script>
    import download from 'downloadjs';
    import type IProcess from '@interfaces/IProcess';
    import type IProposal from '@interfaces/IProposal';
    import { toPng } from 'html-to-image';
    import { fetchProcess } from '@services/api';   
    import addAlert from '@composable/addAlert';
    import getQuillHTML from '@helpers/getQuillHTML';
    const translationsElement = document.getElementById('translations');
    const t = JSON.parse(translationsElement.getAttribute('data-translations'));

    const processId = window.location.pathname.split('/process/')[1].split('/')[0]
    const process: IProcess = await fetchProcess(processId);
    
    const save = (filename: string, data: any, type: string): void => {
        const blob = new Blob([data], {type});

        const elem = window.document.createElement('a');
        elem.href = window.URL.createObjectURL(blob);
        elem.download = filename;        
        document.body.appendChild(elem);
        elem.click();        
        document.body.removeChild(elem);
    }

    const getHighlighting = (className: string) => {
        switch (className) {
            case "color-0":
                return "rgba(205, 92, 92, 0.3)";
            case "color-1":
                return "rgba(205, 92, 92, 0.2)";
            case "color-2":
                return "rgba(205, 92, 92, 0.1)";
            default:
                return "";
        }
    };

    class ResultsCard extends HTMLElement {
        voter_list: NodeListOf<HTMLDivElement> = this.querySelectorAll('div.voter')
        table_body = this.querySelectorAll('tbody') 
        table_head = this.querySelectorAll('thead')                                                                                                                                                                                                                    
        emojis = this.querySelectorAll('svg.emoji')
        alertList = this.querySelector('div.alert-list')
        alerts = this.querySelectorAll('alert-element')
       
        getTotal(proposalId: string, selectedVoters: any) {
            return selectedVoters.reduce((sum: number, voter: any) => {
                const process_voter = process.voters.find((vote: any) => vote.id === voter.id)
                const matchingVote = process_voter.votes.find((vote: any) => vote.proposalId === proposalId);
                if (matchingVote) {
                    let v = matchingVote.vote;
                    if (v < 0)
                        v *= Number(process.weighting);
                    return sum + v;
                }
            
                return sum;
            }, 0);
        };

        getAverageScore(total: number, voters: any) {
            if (voters.length > 0) {
                let i = total / voters.length;
                return Math.round(i * 100) / 100
            }
            return 0
        }

        getAverageEmoji(total: number, voters: any) {
            let i = this.getAverageScore(total, voters)
            if (i < 0)
                i /= Number(process.weighting);
            i = Math.round(i)
            return this.emojis[i + 3];
        };
        
        updateTable() {
            const selectedVoters = this.getSelectedVoters();
            const proposals = process.proposals;
            this.querySelector('span.num-voters').innerHTML = `(${selectedVoters.length})`;
            proposals.forEach((proposal: any) => {
                proposal["total"] = this.getTotal(proposal.id, selectedVoters);
            });
            const sortedProposals = proposals.sort((a: any, b: any) => {
                return b.total - a.total;
            });
            this.table_body[0].innerHTML = '';
            this.table_body[1].innerHTML = '';

            let head_content = `<th>${t.process['voter']}</th>`
            process.proposals.forEach(proposal => {
                head_content += `<th>${proposal.title}</th>\n`
            });
            let body_content = ''

            process.voters.forEach((voters: any) => {
                body_content += `
                <tr>
                <td>
                    <span>${voters.name}</span>
                </td>\n`
                process.proposals.forEach(proposal => {
                    let vote = voters.votes.find((p: any) => p.proposalId == proposal.id).vote
                    body_content += `<th class="text-center">${vote}</th>\n`
                });
                body_content += '</tr>\n'
            });
       
            this.table_head[1].innerHTML = head_content
            this.table_body[1].innerHTML = body_content

            let rank = 0;
            let prevProposal = null;
            sortedProposals.forEach((proposal: any, index: number) => {
                const description = getQuillHTML(proposal.description)
                if (proposal.title === '' && description === '<p><br></p>') return

                if (prevProposal) {
                    rank += prevProposal.total === proposal.total ? 0 : 1;
                }
                prevProposal = proposal;
            
                this.table_body[0].appendChild(this.createRow(rank, index, proposal, selectedVoters));
            });

            const items = this.table_body[0].querySelectorAll('tr');
            items.forEach((item) => {
                const rows = item.querySelectorAll('td');
                rows.forEach((row) => {
                    row.style.backgroundColor = getHighlighting(item.className);
                });
            });
        }

        createRow(rank: number, index: number, proposal: any, selectedVoters: any[]) {
            const description = getQuillHTML(proposal.description)

            const row = document.createElement('tr');
            row.className = 'color-' + rank;
            row.innerHTML = `
                <td class='select-for-repeat cursor-pointer'>
                        <input id="${proposal.id}" type="checkbox" class="checkbox checkbox-xs" />
                    </span>
                </td>
                <td class="whitespace-normal break-words">
                    <h3>${proposal.title}</h3>
                    <p>${description}</p>
                </td>
                <td align="center">
                    <div class="emoji-container tooltip cursor-pointer tooltip-left" data-tip=${this.getAverageScore(proposal.total, selectedVoters)}>`
            row.querySelector('div.emoji-container').insertAdjacentElement('beforeend', this.getAverageEmoji(proposal.total, selectedVoters));
            row.innerHTML += `</div>
                </td>
                <td align="center">${proposal.total}</td>
            `;

            const repeat = row.querySelector('td.select-for-repeat')
            repeat.addEventListener('click', (ev) => {
                if ('tagName' in ev.target && ev.target.tagName === 'INPUT') return
                const input = repeat.querySelector('input')
                input.checked = !input.checked
            })
            return row;

        }


        getMarkdownFile() {
            const selectedVoters = this.getSelectedVoters();
            const title = process.title;
            const processId = process.id;
            const description = getQuillHTML(process.description);
            const voterLabel = this.querySelector('span.voter-label').innerHTML;
            const numVoters = this.querySelector('span.num-voters').innerHTML;
            const selectedVotersString = selectedVoters.map((voter: any) => {
                const processVoter = process.voters.find((vote: any) => vote.id === voter.id);
                return `${processVoter.name} `;
            }).join('');
            const tableRowOne = this.querySelector('tr.table-row-one');
            const tableColumns = Array.from(tableRowOne.querySelectorAll('th')).map((row: any) => row.innerHTML).join(' | ');
            const proposals = process.proposals.map((proposal: any, index: number) => {
                if (proposal.title === '' && proposal.description === '') return
                const averageScore = this.getAverageScore(proposal.total, selectedVoters);
                return ` | ${index + 1} | ${proposal.title} - ${getQuillHTML(proposal.description)} | ${averageScore} | ${proposal.total} |`;
            }).join('\n');
            
            let rtn = '';

            rtn += `# ${title}\n`;
            rtn += `${description}\n\n`;
            rtn += `${processId}\n\n`;
            rtn += `${voterLabel} ${numVoters}:\n`;
            rtn += `${selectedVotersString}\n\n`;
            rtn += `|  | ${tableColumns} |\n`;
            rtn += `| -- | -- | -- | -- |\n`;
            rtn += `${proposals}\n`;

            save(`${title}.md`, rtn, 'text/markdown');
        }

        getSelectedVoters() {
            return Array.from(this.voter_list).filter((div: HTMLDivElement) => div.querySelector('input').checked)
        }
        constructor() {
            super();
            const tabs = this.querySelectorAll('a.tab');
            const contents = this.querySelectorAll('div.tab-content');
            for (let i = 0; i < tabs.length; i++) {
                const tab = tabs[i];
                tab.addEventListener('click', () => {
                    this.showTab(tabs, contents, i);
                });
            }
            this.showTab(tabs, contents, 0);

            this.voter_list.forEach((div: HTMLDivElement) => {
                const input =div.querySelector('input')
                input.addEventListener('click', () => {
                    this.updateTable();
                });
                div.querySelector('span').addEventListener('click', () => {
                    input.checked = !input.checked
                    this.updateTable();
                });
            });

            this.updateTable();

            const exportMarkdownButton = this.querySelector('.export-markdown');
            const exportImageButton = this.querySelector('.export-image');
            exportMarkdownButton.addEventListener('click', () => {
                this.getMarkdownFile();
            });
            exportImageButton.addEventListener('click', () => {
                const theme = localStorage.getItem("theme");

                toPng(this.querySelector('div.screenshot-results') as HTMLElement, { backgroundColor: theme === 'dark' ? "black" : "white" }).then((dataUrl) => {
                    download(dataUrl, process.title + '.png');
                });
            });

            const repeatButton = this.querySelector('button.repeat-button')
            repeatButton.addEventListener('click', () => {
                const items = Array.from(this.querySelectorAll('td.select-for-repeat input[type="checkbox"]')).filter((input: HTMLInputElement) => input.checked);
                if (items.length > 1) {
                    addAlert(this.alertList, this.alerts[0])

                    storeProcess.setKey('title', process.title)
                    storeProcess.setKey('description', process.description)
                    storeProcess.setKey('weighting', process.weighting)
                    storeProcess.setKey('phases', 'voting')
                    const proposals = process.proposals.filter((proposal: IProposal) => 
                       items.some((item) => item.id === proposal.id)
                    );
                    storeProcess.setKey('proposals', proposals)
                    window.location.href = `${window.location.origin}/`

                }
                else {
                    addAlert(this.alertList, this.alerts[1])
                }
            })
            
        }

        showTab(tabs: NodeListOf<Element>, contents: NodeListOf<Element>, index: number) {
            contents.forEach((content) => content.classList.add('hide'));
            tabs.forEach((tab) => tab.classList.remove('tab-active'));
            tabs[index].classList.add('tab-active');
            contents[index].classList.remove('hide');
        }

    }
    customElements.define('results-card', ResultsCard)
</script>src/utils/getProcessUrl