---
import { t } from 'i18next'
import { format } from 'date-fns'
import Countdown from "molecules/Countdown.astro";
import FlexLabel from 'atoms/FlexLabel.astro';

interface Props {
    phase: string,
    dates: number[]
}

const { phase, dates} = Astro.props;

---

<div class="flex flex-col">
    { 
        +new Date() < dates[0] ? (
            <>
                <FlexLabel title={ t(`phases.${phase}.startAt`) }>{  format(new Date(dates[0]), 'E MMM d y hh:mm zzzz')}</FlexLabel>
                <Countdown dates={dates} tillStart={true} />
                <Countdown dates={dates} label={ t(`phases.${phase}.lastFor`) } />
            </>
        ) : +new Date() < dates[1] ? (
            <Countdown dates={dates} label={ t(`phases.${phase}.EndIn`) } />
        ) : null
    }

</div>