---
import i18next from "i18next";
import Header from "@/navigation/Header.astro";

import 'assets/quill.snow.css';
import "assets/global.css"
import { localizePath } from "astro-i18next";

const supportedLanguages = i18next.languages;
const {title, description, simpleHeader = false} = Astro.props;

const { url } = Astro;

const href = url.href
const display_title = `Ukuvota ${title ? `- ${title}` : ''}`
const translations = i18next.getResourceBundle(i18next.language, 'translation')

---
<!DOCTYPE html>
<html lang={i18next.language} data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content={description} />
    <meta name="keywords" content="ukuvota, voting, democracy, consensus, collaborative" />
    <meta name="author" content="NaoX" />
    <meta name="generator" content={Astro.generator} />

    <link rel="apple-touch-icon" sizes="180x180" href="/metadata/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/metadata/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/metadata/favicon-16x16.png">
    <link rel="manifest" href="/metadata/site.webmanifest">

    <title>{display_title}</title>
    <meta name="generator" content={Astro.generator} />
    {
      supportedLanguages.map((supportedLanguage) => (
        <link
          rel="alternate"
          hreflang={supportedLanguage}
          href={localizePath(href, supportedLanguage)}
        />
      ))
    }
    <!-- SEO -->
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />

      <!-- Open Graph -->
    <meta property="og:title" content={display_title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${href}social_logo.png`} />
    <meta property="og:url" content={href} />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={display_title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={`${href}social_logo.png`} />
  </head>
  <body>
    <div id="translations" data-translations={JSON.stringify(translations)} style="display: none;"></div>
    <Header simpleHeader={simpleHeader}/>
    <main>
      <slot />
    </main>
    <br/>
  </body>
</html>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme"))
      return localStorage.getItem("theme");
    if (window.matchMedia("(prefers-color-scheme: dark)").matches)
      return "dark";
    return "light";
  })();

  document.documentElement.dataset.theme = theme
  document.documentElement.classList = theme

  window.localStorage.setItem("theme", theme);

  const hash = window.location.hash
  
  if (hash.includes('#/app/')) {
    const newHash = hash.replace('#/app/', '');
    const cleanHash = newHash.split('/')[0];

    window.location.href = `${location.origin}/process/${cleanHash}`
  }
</script>